<div class="container my-5">
    <h2>Vaciar agendas, citas y turnos</h2>
    <button class="btn btn-primary" (click)="vaciar()">Vaciar</button>
    
    <h2>Agregar citas de forma masiva</h2>
    <button class="btn btn-primary" (click)="llenar_citas()">Agregar Citas</button>
    
    <h2>Agregar agendas de forma masiva</h2>
    <button class="btn btn-primary" (click)="llenar_agendas()">Agregar Agendas</button>
</div>

<ngx-spinner><p style="font-size: 20px; color: white">Procesando...</p></ngx-spinner>
